.productList_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    justify-items: center;
}

@media (max-width: 768px) {
    .productList_wrapper {
      grid-template-columns: 1fr;
      padding: 1rem;
      gap: 1rem;
    }
  }
  