.container {
  padding: 2rem;
  max-width: 100%;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.titleBox {
  background-color: #f1f1f1;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #ff6609;
  display: block;
  margin: 0 auto 1.5rem auto;
  width: fit-content;
}

.title {
  font-size: 1.8rem;
  margin: 0;
  text-align: center;
  background-color: transparent;
  padding: 0;
  color: #ff6609;
}

.filtros {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.filtros label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.filtros input,
.filtros select {
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
  color: #333;
}

.exportarBtn {
  background-color: #ff6609;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.exportarBtn:hover {
  background-color: #e05500;
}

.tabla table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  padding: 10px;
}

.tabla th,
.tabla td {
  padding: 0.8rem;
  text-align: center;
  border-bottom: none;
}

.tabla thead th {
  background-color: #ddd;
  font-weight: bold;
  color: #333;
}

.tabla tbody tr {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #eee;
  transition: transform 0.2s ease;
}

.tabla tbody td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.tabla tbody td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.verPedidosBtn {
  background-color: #ff6609;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.verPedidosBtn:hover {
  background-color: #d86015;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.paginationButton {
  background-color: #f1f1f1;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 35px;
  text-align: center;
}

.paginationButton:hover:not(:disabled) {
  background-color: #dceeff;
  color: #ff6609;
}

.paginationButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #e0e0e0;
  color: #888;
}

.activePage {
  background-color: #ff6609;
  color: white;
  font-weight: bold;
}

.activePage:hover {
  background-color: #e05500;
}