.container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.filtros {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.filtros label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.filtros input,
.filtros select {
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.exportarBtn {
  background-color: #ff6609;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 500;
}

.exportarBtn:hover {
  background-color: #ff6609;
}

.tabla table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.tabla th,
.tabla td {
  padding: 0.8rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.verPedidosBtn {
  background-color: #ff6609;
  color: white;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.verPedidosBtn:hover {
  background-color: #1976d2;
}
