.contenedor {
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  overflow-x: hidden;
}

.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}

.carousel {
  display: flex;
  gap: 1.5rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 1rem 0;
  width: 100%;
}

.flecha {
  background-color: #ff6609;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  margin: 0 1rem;
}

.flecha:hover {
  background-color: #ffffff;
  color: #ff6609;
  transform: scale(1.15);
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  color: #ff6609;
  margin-bottom: 2rem;
}

.icono {
  color: #ff6609;
  font-size: 2.2rem;
}

@media (max-width: 1024px) {
  .carousel {
    gap: 1rem;
  }

  .flecha {
    width: 45px;
    height: 45px;
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .carousel {
    max-width: 95%;
    gap: 0.8rem;
  }

  .flecha {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }

  .titulo {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .carousel {
    gap: 0.5rem;
  }
}
