.footer{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
}

.box_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393636;
}

.box_logo img{
    width: 10rem;
}

.box_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ABABAB;
}

.main_texts{
    display: flex;
    justify-content: center;
    text-align: start;
    padding: 1vh 0;
    gap: 0 5rem;
}

.main_texts, .main_icons{
    flex: 1;
}

.main_texts h2{
    color: #1a1a1a;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.main_texts p{
    color: #333;
    margin: 0.3rem 0;
    font-size: 0.95rem;
    cursor: pointer;
}

.main_icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_icons i{
    padding: 1vh;
    font-size: 2.5rem;
    color: #1a1a1a;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.main_icons i:hover {
    color: #ff6609;
    transform: scale(1.1);
}

.box_copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #585858;
}

.box_copyright h3{
    color: #fff;
    text-align: center;
}

@media (max-width: 768px) {
    .box_main {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .box_logo{
        display: none;
    }
  
    .main_texts {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }
  
    .main_icons {
      margin: 1rem 0;
    }
  
    .main_icons i {
      font-size: 2rem;
    }

    .box_copyright h3{
        color: #fff;
        text-align: center;
        font-size: 1rem;
    }
  }
  