.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10vw;
  background-color: #f6f6f6;
  width: 100%;
  box-sizing: border-box;
}

.textContainer {
  max-width: 50%;
}

.textContainer h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.textContainer p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
}

.imageContainer {
  max-width: 20%;
}

.imageContainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
