.container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5em;
  margin-bottom: 25px;
  text-align: center;
  color: #333;
}

.formGroup {
  margin-bottom: 18px;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.input,
.select {
  width: calc(100% - 20px); /* Ajusta el ancho para dejar espacio para el padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

.input:focus,
.select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 90px; /* Para que los botones tengan un ancho similar */
  text-align: center;
}

.cancelButton {
  background-color: #dc3545; /* Rojo */
  color: white;
}

.cancelButton:hover {
  background-color: #c82333;
}

.newButton {
  background-color: #28a745; /* Verde */
  color: white;
}

.newButton:hover {
  background-color: #218838;
}

.saveButton {
  background-color: #ffc107; /* Amarillo */
  color: #212529; /* Texto oscuro para contraste */
}

.saveButton:hover {
  background-color: #e0a800;
}