/* Navbar Container */
.navbar {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #1a1a1a; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    color: white;
}

.box_search, .box_logo, .box_user {
    flex: 1; 
}

/* Busqueda producto */
.search_form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a; /* Fondo igual al input */
    border-radius: 0.3rem; /* Opcional, para bordes redondeados */
}

.box_search input {
    margin-right: 1vh;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0 1rem;
    background-color: #2a2a2a;
    border: none;
    outline: none;
    color: white;
    border-radius: 0.3rem 0 0 0.3rem; 
}

.box_search input::placeholder {
    color: #aaa;
}

.box_search span {
    font-size: 3vh;
    color: #ff6609;
    cursor: pointer;
    margin-left: 1vh;
    padding: 0.5rem;
}

.box_search {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo App*/
.box_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_logo img {
    width: 10rem;
}

/* Perfil Usuario */
.box_user {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTA LOGUEADO */
.user_actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.user_actions_profile {
    border: 1px solid #ff6609;
    border-radius: 0.3rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
}

.user_actions_profile:hover {
    background-color: #ff6609;
    color: black;
}

.user_actions_profile span {
    font-size: 3vh;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease;
}

.user_actions_profile button {
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: inherit; 
    transition: color 0.3s ease;
}

/* Opciones desplegables */
.profile_options {
    width: 200px;
    position: absolute;
    top: 80%;
    left: 30%;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 100;
}

.profile_options_user, .profile_options_closeSesion {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 8px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.profile_options_user:hover, .profile_options_closeSesion:hover {
    background-color: #ff6609;
    color: black;
}

.profile_options_user button,
.profile_options_closeSesion button {
    background: none;
    border: none;
    margin-left: 1rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.profile_options_user:hover button,
.profile_options_closeSesion:hover button {
    color: black;
}

.div_line_profile {
    width: 1px;
    height: 60%;
    background-color: #444;
    margin: 0 1.5vh;
}

/* Carrito de Compras */
.profile_carrito {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_carrito button {
    background-color: transparent;
    border: 1px solid #ff6609;
    border-radius: 50%;
    padding: 0.6rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_carrito button:hover {
    background-color: #ff6609;
    color: black;
}

.profile_carrito span {
    font-size: 2rem;
    color: white;
    transition: color 0.3s ease;
}

.profile_carrito button:hover span {
    color: black;
}
